@charset "utf-8";@import url("iconfont.css?_v=1564656129");.mainfont{font-family:"mainfont" !important;font-style:normal;display:inline-block;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;}
body{background:#fff;}
.g_show_lanmu_bg{position:fixed;width:100%;height:100%;top:0;left:0;z-index:99;background:rgba(0,0,0,0.8);display:none;}
.g_show_lanmu{position:fixed;top:0px;width:100%;z-index:100;display:none;border-top:1px solid #ddd;background:#fff;padding:10px;box-sizing:border-box;}
.g_show_lanmu h3{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-justify-content:space-between;justify-content:space-between;-webkit-justify-content:space-between;line-height:30px;color:#666;font-weight:normal;font-size:14px;border-bottom:1px solid #eee;padding-bottom:5px;margin-bottom:5px;}
.g_show_lanmu h3 span{color:#888;}
.g_show_lanmu h3 span i{font-size:14px;color:#888;}
.g_show_lanmu .content{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-flex-wrap:wrap;}
.g_show_lanmu .content_pp li{border:1px solid #3fb7fd;color:#3fb7fd;border-radius:30px;padding:2px 10px;margin:5px;-webkit-flex-shrink:0;flex-shrink:0;-webkit-flex-shrink:0;}
.g_show_lanmu .content_pp li:active,.g_show_lanmu .content_lm li:active{background:#3fb7fd;color:#fff;}
.g_show_lanmu .content_lm li{border-radius:30px;padding:2px 10px;margin:5px;background:#ecf8ff;color:#3fb7fd;}
.g_show_lanmu .content_lm .select,.g_show_lanmu .content_pp .select{background:#3fb7fd;color:#fff;}
.g_show_lanmu .but{width:40vw;margin:15px auto;background:#3fb7fd;color:#fff;text-align:center;border-radius:30px;padding:8px 10px;font-size:15px;}
.g_show_lanmu .but:active{background:#007eff;color:#fff;}
.overdue{text-align:center;width:100%;height:100%;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-direction:column;flex-direction:column;-webkit-flex-direction:column;-webkit-justify-content:center;justify-content:center;-webkit-justify-content:center;-webkit-align-items:center;align-items:center;-webkit-align-items:center;}
.overdue .m i{font-size:50px;}
.overdue .m font{color:#888;width:80%;display:block;text-align:center;margin:10px auto;}
.overdue .shengji_bt{margin-top:30px;}
.overdue .shengji_bt p{line-height:25px;}
.overdue .shengji_bt button{width:80vw;margin:5px auto;background:#ff6a57;color:#fff;text-align:center;border-radius:5px;padding:8px 10px;font-size:15px;}
.shengji_bt a{color:#40b7fb;}
.change_brand{padding:0 20px;}
.change_brand h2{color:#888;font-size:12px;margin-top:10px;font-weight:normal;}
.change_brand ul{margin:10px 0;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-flex-wrap:wrap;}
.change_brand ul li{border:1px solid #eee;border-radius:30px;padding:2px 10px;margin:5px;}
.change_brand .focus li{color:#3fb7fd;border:1px solid #3fb7fd;}
.change_brand .focus li:after{content:"×";margin-left:2px;}
.change_brand .hot .select{color:#fff;border:1px solid #3fb7fd;background:#3fb7fd;}
.change_brand .but{width:100%;margin-top:20px;padding-top:10px;height:50px;background:#fff;border-top:1px solid #eee;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-justify-content:center;justify-content:center;-webkit-justify-content:center;-webkit-align-items:center;align-items:center;-webkit-align-items:center;}
.change_brand .but span{margin:0 10px;background:#eee;color:#333;text-align:center;border-radius:30px;text-align:center;padding:8px 40px;}
.change_brand .but span:last-of-type{background:#3fb7fd;color:#fff;}
.pinpai_list{margin:10px auto;}
.pinpai_list ul li{border:1px solid #eee;border-radius:2px;width:80vw;margin:15px auto;padding:10px;}
.pinpai_list ul li h2{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;font-size:14px;font-weight:normal;-webkit-justify-content:space-between;justify-content:space-between;-webkit-justify-content:space-between;}
.pinpai_list ul li h2 span{color:#40b7fb;}
.pinpai_list ul li font{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;margin-bottom:2vw;color:#888;font-size:12px;margin-top:10px;}
.pinpai_list p{line-height:30px;text-align:center;}
.pinpai_list p a{color:#40b7fb;border:1px solid #40b7fb;border-radius:30px;margin-top:10px;display:block;margin:0 auto;width:40vw;}
.tutorial{width:100%;height:100%;position:fixed;top:0;left:0;z-index:100;display:none;}
.tutorial .bg{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,.7);z-index:101;}
.tutorial .yd_1{color:#fff;font-size:5vw;font-weight:bold;position:absolute;top:20vw;text-align:center;line-height:25px;letter-spacing:2px;z-index:102;width:100%;}
.tutorial .yd_1 .ts_txt p font{color:#ffee2f;}
.tutorial .yd_1 .ts_txt p{margin-top:30px;line-height:30px;}
.tutorial .yd_1 .ts_txt i{font-size:30px;animation:mymove 3s infinite;-webkit-animation:mymove 3s infinite;position:absolute;margin-top:40px;right:13px;transform:rotate(-90deg);}
.tutorial .btn1{width:30vw;border:2px solid #fff;color:#fff;text-align:center;padding:5px 10px;position:relative;z-index:102;margin:30px auto;border-radius:5px;}
.tutorial .yd_1 .yd_ico{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;flex-direction:column;-webkit-flex-direction:column;font-weight:normal;background:#fff;width:40px;height:40px;border-radius:50%;text-align:center;font-size:10px;color:#333;letter-spacing:0px;position:absolute;right:5px;top:-25px;line-height:40px;}
.tutorial .yd_1 .yd_ico i{animation:none;transform:none;position:relative;top:auto;right:auto;color:#666;font-size:18px;margin-top:auto;}
.tutorial .yd_2{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-direction:column;flex-direction:column;-webkit-flex-direction:column;position:relative;z-index:101;display:none;}
.tutorial .yd_2 .article_sl{width:95vw;background:#fff;position:relative;z-index:102;margin:120px auto 20px auto;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-box;display:-webkit-flex;flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;justify-content:space-between;-webkit-justify-content:space-between;-webkit-justify-content:space-between;padding:10px 5px;box-sizing:border-box;}
.tutorial .yd_2 .ts_txt{color:#fff;text-align:center;position:relative;z-index:102;}
.tutorial .yd_2 .ts_txt i{font-size:30px;position:relative;animation:mymove 3s infinite;-webkit-animation:mymove 3s infinite;}
.tutorial .yd_2 .ts_txt p{font-size:5vw;font-weight:bold;padding:0 20px;letter-spacing:2px;line-height:30px;}
.tutorial .yd_2 .btn{width:30vw;border:2px solid #fff;font-weight:bold;color:#fff;text-align:center;padding:5px 10px;position:relative;z-index:102;margin:30px auto;border-radius:5px;font-size:5vw;}
.tutorial .yd_2 .article_sl .img{margin-left:15px;flex-shrink:0;-webkit-flex-shrink:0;-webkit-flex-shrink:0;width:30vw;height:18vw;line-height:0;overflow:hidden;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;justify-content:center;-webkit-justify-content:center;-webkit-justify-content:center;align-items:center;-webkit-align-items:center;-webkit-align-items:center;}
.tutorial .yd_2 .article_sl .txt p{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;margin-bottom:2vw;font-size:15px;color:#333;font-weight:bold;}
.tutorial .yd_2 .article_sl .txt span{color:#999;font-size:12px;}
@keyframes mymove{from{top:10px;}
to{top:-10px;}
}
@-webkit-keyframes mymove{from{top:10px;}
to{top:10px;}
}
@keyframes mymove2{from{right:5px;}
to{right:-10px;}
}
@-webkit-keyframes mymove2{from{right:5px;}
to{right:-10px;}
}
.yindao{width:100%;height:100vh;position:fixed;top:0;left:0;z-index:100;display:none;color:#fff;}
.yindao .bg{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,.7);z-index:101;}
.yindao .yd_1{font-size:5vw;font-weight:bold;position:absolute;top:20vw;text-align:center;line-height:30px;letter-spacing:2px;z-index:102;width:100%;}
.yindao .yd_1 .ts_txt p font{color:#ffee2f;}
.yindao .yd_1 .ts_txt i{font-size:30px;font-weight:normal;position:relative;animation:mymove 3s infinite;-webkit-animation:mymove 3s infinite;}
.yindao .btn1{width:30vw;border:2px solid #fff;color:#fff;text-align:center;padding:5px 10px;position:relative;z-index:102;margin:30px auto;border-radius:5px;}
.yindao .yd_1 .card_sl{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-justify-content:space-between;justify-content:space-between;-webkit-justify-content:space-between;background-color:#40b7fb;width:90vw;margin:10px auto;letter-spacing:0;border-radius:10px;padding:10px;box-sizing:border-box;font-size:14px;line-height:20px;}
.yindao .yd_1 .card_sl i{animation:none;}
.yindao .yd_1 .card_sl dl{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-align-items:center;align-items:center;-webkit-align-items:center;}
.yindao .yd_1 .card_sl dl i{font-size:18px;}
.yindao .yd_1 .card_sl dl dt img{margin-right:8px;flex-shrink:0;-webkit-flex-shrink:0;-webkit-flex-shrink:0;width:12vw;height:12vw;-webkit-border-radius:50%;border-radius:50%;overflow:hidden;line-height:0;}
.yindao .yd_1 .card_sl dl dd{text-align:left;font-weight:normal;}
.yindao .yd_1 .card_sl dl dd p:last-of-type{color:#ff0;}
.yindao .yd_1 .card_sl .erweima{border:1px dashed rgba(255,255,0,.8);text-align:center;font-size:12px;color:#ff0;padding:20px 5px;box-sizing:border-box;font-weight:normal;}
.yindao .yd_1 .card_sl .erweima i{font-size:25px;font-style:normal;display:block;}
.yindao .yd_2{top:10vw;}
.yindao .yd_2 .ts_txt i{position:absolute;top:15px;right:5px;font-weight:bold;transform:rotate(-90deg);}
.yindao .yd_3{bottom:41px;top:auto;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-flex-direction:column-reverse;}
.yindao .yd_3 .yd_ico{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;flex-direction:column;-webkit-flex-direction:column;font-weight:normal;background:#fff;width:50px;height:50px;text-align:center;font-size:10px;color:#333;letter-spacing:0px;position:absolute;left:54vw;bottom:-41px;}
.yindao .yd_3 .ts_txt{margin-bottom:10px;}
.yindao .yd_3 .ts_txt .yd_ico i{animation:none;font-size:24px;font-style:normal;display:block;transform:rotate(0deg);}
.yindao .yd_3 .ts_txt i{transform:rotate(34deg);font-weight:bold;animation:mymove2 3s infinite;-webkit-animation:mymove2 3s infinite;position:relative;}
.yindao .yd_4{bottom:16vh;top:auto;}
.yindao .yd_4 .ts_txt i{transform:rotate(89deg);font-weight:bold;position:absolute;right:17px;margin-top:105px;}
.yindao .yd_m{color:#fff;position:relative;z-index:102;display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;-webkit-flex-direction:column;flex-direction:column;-webkit-flex-direction:column;-webkit-justify-content:center;justify-content:center;-webkit-justify-content:center;-webkit-align-items:center;align-items:center;-webkit-align-items:center;height:100%;width:100%;font-weight:bold;letter-spacing:2px;}
.yindao .yd_m p{margin:20px auto;font-size:16px;}
.yindao .yd_m ul{text-align:left;margin:0 auto;}
.yindao .yd_m ul li{margin:10px 0;}
.yindao .yd_m ul li font{color:#ffee2f;}
.yindao .yd_m ul li b{border:1px solid #fff;border-radius:50%;width:25px;height:25px;line-height:25px;display:inline-block;text-align:center;margin-right:10px;}
.tab_nav{width:100%;margin:0 auto;background:#fff;color:#333;border-bottom:1px solid #eee;}
.tab_nav ul{display:flex;display:-webkit-box;display:-webkit-flex;display:-webkit-flex;}
.tab_nav li{flex:1;-webkit-flex:1;-webkit-flex:1;text-align:center;height:50px;font-size:16px;}
.tab_nav li span{line-height:48px;display:inline-block;}
.tab_nav .select{border-bottom:2px solid #3eb7fe;color:#3eb7fe;font-weight:bold;}
.fr_nav{position:fixed;right:10px;bottom:10vh;z-index:10;}
.fr_nav span{width:50px;height:50px;border-radius:50%;display:block;margin-bottom:10px;text-align:center;padding-top:9px;box-sizing:border-box;line-height:16px;font-size:14px;}
.fr_nav .add_btn{background:linear-gradient(to right bottom,#ffa368,#ff5b3d);color:#fff;box-shadow:0px 3px 5px rgba(255,158,103,0.3);}
.fr_nav .return{background:linear-gradient(to right bottom,#f4f4f4,#e1e1e1);color:#777;box-shadow:0px 3px 5px rgba(213,213,213,0.4);line-height:50px;padding-top:0;}
.fr_nav .my_btn{background:rgba(255,255,255,.8);color:#13bbec;box-shadow:0px 3px 5px rgba(220,220,220,0.8);}
